# Project exclude paths
/.gradle/
/pullToRefershLibraryMy/build/
/pullToRefershLibraryMy/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/skWeiChatBaidu/build/
/skWeiChatBaidu/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/